<h2>Template: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- * Los formularios por aproximacion de template, significa que
      * la mayor parte de las configuraciones las maneja angular de forma
      * automatica y el codigo se agrega en el template de HTML.
      ! los datos importantes/atributos que necesita angular son:
      * #miVarible="ngForm" = donde se guarda todos los datos del formulario
      * una funcion del lado del .ts para ver los datos de dicha variable

      * que los inputs tengan el atributo type, para que angular interprete los datos
      * que tenga el atributo name para que sepa que input es.
      * lo mas importante que tenga el atributo ngModel
    -->

    <form
      (ngSubmit)="guardar()"
      #miFormulario="ngForm"
      autocomplete="off"
    >
      <!-- Input nombre producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Productos</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            ngModel
            name="producto"
            minlength="3"
            required
          />

          <span
            class="form-text text-danger"
            *ngIf="isValidName()"
          >
            Debe tener al menos 3 letras
          </span>

        </div>
      </div>

      <!-- Input precio producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            ngModel
            name="precio"
            required
          />

          <span
            class="form-text text-danger"
            *ngIf="isValidPrice()"
          >
            El precio tiene que ser mayor a 0.
          </span>
        </div>
      </div>

      <!-- Input existencias producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            ngModel
            customMin
            [minimo]="0"
            name="existencias"
            required
          />

          <span
            *ngIf="isValidExist()"
            class="form-text text-danger"
          >
            La cantidad de productos a agregar tiene que ser mayor a 0.
          </span>
        </div>


      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            type="submit"
            [disabled]="miFormulario.invalid"
          >Guardar</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>

    <span>Pristine</span>
    <pre>{{miFormulario.pristine}}</pre>

    <span>Touched</span>
    <pre>{{miFormulario.touched}}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

  </div>
</div>
